<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="db.properties"></properties>
<!-- 别名 -->
<!-- 使用自动扫描 -->
<typeAliases>
<package name="com.xiyu.core.po"/>
</typeAliases>

</configuration>